<div class="container">
    <section class="title">
        <ul>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">2020 Season <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">Driver Standings <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">Constructor Standings <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">Archive 1950-2019 <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">F1 Awards <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
        </ul>
    </section>
</div>