<div class="container">
    <section class="title">
        <h2>
            <a href="#">
                <span class="underline">Full Schedule <span style="color:red">></span></span>
            </a>
        </h2>
    </section>
    <div class="info">
        <section class="next">
            <div class="title-next"> Next</div>
            <app-race></app-race>
        </section>
        <section class="upcoming">
            <div class="title-next"> Upcoming</div>
            <app-race></app-race>
            <app-race></app-race>
            <app-race></app-race>
        </section>
    </div>
</div>
