<div class="container">
    <section class="title">
        <ul>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">Esports <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">Fantasy <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">Daily fantasy <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">F1 Play <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">F1 2020 <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">F1 Mobile Racing <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">F1 Manager <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
        </ul>
    </section>
</div>