.container {
    max-width: 1260px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 30px 40px;
    font-family: "Titillium Web";
    line-height: 17px;
    font-size: 16px;
  
    ul {
      list-style: none;
      display: flex;
      border: 1px solid #67676d;
      border-top: 0;
      border-left: 0;
      border-bottom-right-radius: 10px;
    }
  
    .title {
      width: 100%;
      grid-area: title;
  
      h2 {
        height: 34px;
        margin-right: 50px;
        margin-top: 0;
        margin-bottom:0 ;
        font-size: 1.6em;
  
        a {
          color: white;
          text-decoration: none;
  
          .underline {
            font-size: .8em;
          }
  
          .underline:hover {
            border-bottom: 3px solid red;
            cursor: pointer;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1360px) {
    .container {
      .info {
        max-width: 980px;
      }
    }
  }
  