<div class="container">
    <section class="title">
        <h2>
            <a href="#">
                <span class="underline">Latest <span style="color:red">></span></span>
            </a>
        </h2>
    </section>
    <div class="info">
        <section class="news">
            <span class="news-title">News</span>
            <div class="news-select">
                <app-news></app-news>
                <app-news></app-news>
                <app-news></app-news>
            </div>
        </section>
        <section class="topics">
            <span class="topics-title">Topics</span>
            <div class="topics-select">
                <app-topic></app-topic>
                <app-topic></app-topic>
                <app-topic></app-topic>
                <app-topic></app-topic>
                <app-topic></app-topic>
                <app-topic></app-topic>
            </div>
        </section>
    </div>
</div>