<section class="container">
    <div class="row">
        <div class="latest-new" [style.background-image]="'url(../../../assets/images/background/plus-x1.png)'">
            <a href="#" >
                <p>Feature</p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
                <img [src]=img/>
            </a>
        </div>
        <div class="previous-news">
            <ul>
                <app-new></app-new>
                <app-new></app-new>
                <app-new></app-new>
                <app-new></app-new>
                <app-new></app-new>
                <app-new></app-new>
            </ul>
        </div>
        <button>
            View latest news
            <span>></span>
        </button>
    </div>
</section>
