.container{
  background-color: #f3f3f3;
  position: relative;

  .background {
    top: -42px;
    width: 100%;
    position: absolute;
    height: 270px;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.row{
  width: 100%;
  max-width: 576px;
  margin: auto;
  z-index: 1;
  position: relative;
  padding-bottom: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  margin-top: 60px;

  h2 {
    margin-top: 60px;
    font-size: 25px;
    line-height: 30px;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    font-size: 2em;
  }
}

.top-3{
  margin:0 20px;
  margin-top: 110px;
  
  .top1{
    .image{
      width: 100%;
      height: 150px;
      background-color: white;
      margin: 0 auto;
      display: flex;
      justify-content: end;
      position: relative;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      .div-color{
        position: absolute;
        bottom: 0;
        background:#00d2be;
        height: 10px;
        width: 100%;
      }
      img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 290px;
      }
    }
    .name{
      display: none;
    }
  }
  .top2{
    display: none;
  }
  .top3{
    display: none;
  }
}

.button{
  margin: 20px 20px 0 20px;
  a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    div{
      width: 100%;
      height: 39px;
      
      button{
        width: 100%;
        height: 100%;
        background: #e10600;
        color: white;
        border: 3px solid #e10600;
        border-radius: 5px;
        transition: 0.3s;
        font-size: .8em;
        line-height: 15px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: bold;

      }
    }
    &:hover{
      div{
        button{
          background-color: white;
          color: #15151e;

        }
      }
      
    }
  }
  .seta{
    
  }

}

.leaderboard{
  margin:0 20px;

}


@media screen and (min-width: 768px) {

  .row{
    max-width: 748px;
  }

  .top-3 {
    

    ul {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 20px;
      padding-left: 0;
      grid-template-columns: 1fr 1.2fr 1fr;
      align-items: baseline;
      margin-bottom: 20px;
      li {
        a {
          position: relative;
          text-decoration: none;
          color: white;
          text-transform: capitalize;

          .image {
            margin-bottom: -2px;

            img {
              position: absolute;
              width: 100%;
            }
          }
          .name {
            background: #38383f;
            border-radius: 0 0 15px 15px;
            display: block;
            height: 97px;
            padding: 0;
            padding-left: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
              margin: 0;
              font-size: 1.2em;
            }
            .last-name{
              text-transform: uppercase;
              
              h3{
                margin: 0;
                margin-top: 10px;
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }

    .top1{
      height: 130px;
    }
    .top2{
      display: block;
      height: 100px;
      .image{
        width: 100%;
        height: 100px;
        background-color: white;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        position: relative;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
  
        .div-color{
          position: absolute;
          bottom: 0;
          background:#00d2be;
          height: 10px;
          width: 100%;
        }
        img{
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
        }
      }

    }
    .top3{
      display: block;
      
      .image{
        width: 100%;
        height: 100px;
        background-color: white;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        position: relative;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .div-color{
          position: absolute;
          bottom: 0;
          background: #0600ef;
          height: 10px;
          width: 100%;
        }
        img{
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
        }
      }

    }
  }
  .button{
    display: flex;
    place-items: center;
    justify-content: center;
    a{
      width: 189px;
      
      div{
        button{
          cursor: pointer;
        }
        
      }
    }
  }

}

@media screen and (min-width: 1024px) {

  .container{
    .background{
      height: 335px;
    }
  }
  .row{
    max-width: 986px;
  }

  .top-3{
    .top1{
      
      .image{
        height: 170px;
      }
    }
    .top2{
      .image{
        height: 140px;
      }
      
    }
    .top3{
      .image{
        height: 140px;
      }
    }
  }
  
}

@media screen and (min-width: 1360px) {
  .row{
    max-width: 1060px;
  }
  .top-3{
    margin-top: 160px;
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 20px;
      padding-left: 0;
      grid-template-columns: 1fr 1.2fr 1fr;
      align-items: baseline;
      margin-bottom: 20px;

      li {
        a {
          .name {
            padding-bottom: 10px;
            p {
              font-size: 1.4em;
            }
            .last-name{
              h3{
                font-size: 1.7em;
              }
            }
          }
        }
      }
    }
    .top1{
      
      .image{
        height: 150px;
      }
    }
    .top2{
      .image{
        height: 120px;
      }
      
    }
    .top3{
      .image{
        height: 120px;
      }
    }
  }
  
}
