<div class="container">
    <section class="title">
        <ul>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">All Drivers <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">Hall of Fame <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
        </ul>
    </section>
    <section class="drivers">
        <ul>
            <app-li-driver class="driver alpine"></app-li-driver>
            <app-li-driver class="driver mercedes"></app-li-driver>
            <app-li-driver class="driver alfa-tauri"></app-li-driver>
            <app-li-driver class="driver alfa-romeo"></app-li-driver>
            <app-li-driver class="driver mercedes"></app-li-driver>
            <app-li-driver class="driver williams"></app-li-driver>
            <app-li-driver class="driver ferrari"></app-li-driver>
            <app-li-driver class="driver haas"></app-li-driver>
            <app-li-driver class="driver mclaren"></app-li-driver>
            <app-li-driver class="driver alpine"></app-li-driver>
            <app-li-driver class="driver redbull"></app-li-driver>
            <app-li-driver class="driver alfa-romeo"></app-li-driver>
            <app-li-driver class="driver mclaren"></app-li-driver>
            <app-li-driver class="driver williams"></app-li-driver>
            <app-li-driver class="driver ferrari"></app-li-driver>
            <app-li-driver class="driver haas"></app-li-driver>
            <app-li-driver class="driver aston"></app-li-driver>
            <app-li-driver class="driver alfa-tauri"></app-li-driver>
            <app-li-driver class="driver redbull"></app-li-driver>
            <app-li-driver class="driver aston"></app-li-driver>
        </ul>
    </section>
</div>