<section class="container">
    <div class="row">
        <ul>
            <app-race-selected></app-race-selected>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
            <app-race-calendar></app-race-calendar>
        </ul>
    </div>
</section>

