<section class="container">
    <div class="row">
        <a href="#"><div class="title"> 2021 Car Lauches <span>></span></div></a>
        <ul>
            <div class="important">
                <app-new class="important"></app-new>
            </div>
            <div class="less-important">
                <app-new></app-new>
                <app-new></app-new>
                <app-new class="no-image"></app-new>
                <app-new class="no-image"></app-new>
            </div>
        </ul>
    </div>
</section>
