<section class="container">
    <div class="background-lines" [style.background-image]="'url(../../../assets/images/background/gray3-x1.png)'">
    </div>
    <div class="row">
        <div class="title">
            <a href="#">
                <h2>More News <span>></span></h2>
            </a>
        </div>
        <div class="news">
            <ul>
                <app-new *ngIf="colorWhite"></app-new>
                <app-new *ngIf="colorWhite"></app-new>
                <app-new *ngIf="colorWhite"></app-new>
                <app-new *ngIf="colorWhite"></app-new>
            </ul>
        </div>
        
    </div>
</section>