<a href="#">
    <div class="image" [style.background-image]="'url(../../../assets/images/schedule/Portuguese_Grand_Prix.png)'">
        <!-- <img src={{teste}}/> -->
    </div>
    <div class="info">
        <h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h3>
        <p>
            <span>April 30-May 02</span>
            <span class="next">
                <img class="next-white" src={{next}}/> 
                <img class="next-red"src={{nextRed}}/>
            </span>
        </p>
    </div>
</a>