<li class="container">
    <div class="row">
        <app-flag class="padding-left"></app-flag>
        <a href="#" class="padding-left">
            <h2>FORMULA 1 HEINEKEN GRANDE PRÉMIO DE PORTUGAL 2021</h2>
        </a>
        <p class="days padding-left">30 APR 2021 - 02 MAY 2021</p>

        <div class="rolex">

            <div class="clock">
                <div class="clock-img" [style.background-image]="'url(../../../../assets/images/clock.png)'"></div>
            </div>
            <div class="hours">
                <div class="race-time">
                    <p class="city-name">Portimão</p>
                    <p class="hour">13:16</p>
                </div>
                <div class="your-time">
                    <p>Your Time</p>
                    <p class="hour">13:16</p>
                </div>
            </div>
            <div class="rolex-logo">
                <div class="image" [style.background-image]="'url(../../../../assets/images/rolex-lockup.png)'"></div>
            </div>

        </div>

        <div class="buttons padding-left">
            <a href="#" class="btn-sync-a">
                <button class="btn-sinc"> <span>Logo</span> sync calendar</button>
            </a>
            <a href="#" class="btn-convert-a">
                <button class="btn-convert"> convert to track time</button>
            </a>
        </div>

        <div class="schedule padding-left">
            <ul class="practice-times">
                <li class="lis">
                    <div class="blank1"></div>
                    <span class="type">Practice1</span>
                    <span class="day">Day</span>
                    <span class="day-hours">11:30 - 12:30</span>
                    <div class="blank2"></div>
                </li>
                <li class="lis">
                    <div class="blank1"></div>
                    <span class="type">Practice2</span>
                    <span class="day">Day</span>
                    <span class="day-hours">15:00 - 16:00</span>
                    <div class="blank2"></div>
                </li>
                <li class="lis">
                    <div class="blank1"></div>
                    <span class="type">Practice3</span>
                    <span class="day">Day</span>
                    <span class="day-hours">12:00 - 13:00</span>
                    <div class="blank2"></div>
                </li>
            </ul>
            <ul class="race-times">
                <li class="lis">
                    <div class="blank1"></div>
                    <span class="type">Qualifying</span>
                    <span class="day">Day</span>
                    <span class="day-hours">15:00 - 16:00</span>
                    <div class="blank2"></div>
                </li>
                <li class="lis">
                    <div class="blank1"></div>
                    <span class="type">Race</span>
                    <span class="day">Day</span>
                    <span class="day-hours">15:00</span>
                    <div class="blank2"></div>
                </li>
            </ul>
        </div>
    </div>
</li>