<section class="container">
    <div class="row">

        <div class="a-menus">
            <ul>
                <li><a href="#">drivers</a></li>
                <li><a href="#">constructors</a></li>
                <li><a href="#">last race</a></li>
            </ul>
        </div>
        <app-drivers-leaderboard ></app-drivers-leaderboard>
        <app-constructors ></app-constructors>
        <app-last-race ></app-last-race>
        <!-- <div class="background" [style.background-image]="'url(../../../assets/images/background/bg.jpg)'">

        </div> -->
    </div>
</section>