<div class="container">
    <section class="title">
        <ul>
            <li>
                <h2>
                    <a href="#">
                        <span class="underline">All Teams <span style="color:red">></span></span>
                    </a>
                </h2>
            </li>
        </ul>
    </section>
    <section class="drivers">
        <ul>
            <li class="team alfa-romeo">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img class="testar123"src={{next}}/>
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team alpha-tauri">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}}/>
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team alpine">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}}/>
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>
                </a>
            </li>
            <li class="team aston">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}}/>
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>

                </a>
            </li>
            <li class="team ferrari">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}} />
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>

                </a>
            </li>
            <li class="team haas">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}} />
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>

                </a>
            </li>
            <li class="team mclaren">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}} />
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>

                </a>
            </li>
            <li class="team mercedes">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}}  />
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>

                </a>
            </li>
            <li class="team redbull">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}}  />
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                        </div>
                </a>
            </li>
            <li class="team williams">
                <a href="#">
                    <div class="name">
                        <div class="top">
                            <span>
                                Nome
                            </span>
                            <span>
                                <img src={{next}}  />
                            </span>
                        </div>
                        <div class="image">
                            <span class="car-color"></span>
                            <img src={{aston}}/>
                        </div>
                    </div>

                </a>
            </li>

        </ul>
    </section>
</div>